# Excelerate Data Cleaning

**Tasks done by Krishin Tharani start from here**

## Loading the Data

In [2]:
import pandas as pd

In [4]:
students = pd.read_excel('SLU-Oppurtunity.xlsx')
students.head()

,Profile Id,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Last Name,Date of Birth,Gender,...,Status Code,Apply Date,Opportunity Start Date,Reward Awarded Date,Completion Date,Reward Amount,Badge Id,Badge Name,Skill Points Earned,Skills Earned
0,004b8a25-17d4-4e9a-a41b-b5336327e170,06/14/2023 12:30:35,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Faria,Khan,2001-12-01 00:00:00,Female,...,1080.0,06/14/2023 12:36:09,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00628747-9775-4a85-a179-4d5007ccb8b7,2023-01-05 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,Bembadi,08/16/2000,Female,...,1080.0,2023-01-05 06:08:21,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00841155-6c62-4f83-b165-57ba0df9c031,2023-09-04 20:35:08,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Emmanuel,Thompson,01/27/2002,Male,...,1080.0,2023-11-05 00:21:29,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00f5161c-ba85-472d-9b0a-3301aac78598,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,Anagurthi,1999-01-11 00:00:00,Female,...,1070.0,2023-09-10 22:02:42,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01273a5e-fcc5-4b1a-a637-19aff497dac1,2023-06-01 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,Pechetti,04/19/2000,Male,...,1080.0,2023-06-01 15:40:10,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Describing Data

In [6]:
# Checking columns datatypes
students.dtypes

Profile Id                         object
Learner SignUp DateTime            object
Opportunity Id                     object
Opportunity Name                   object
Opportunity Category               object
Opportunity End Date               object
First Name                         object
Last Name                          object
Date of Birth                      object
Gender                             object
Mobile Number                      object
Address Line 1                     object
Address Line 2                     object
City                               object
State                              object
Country                            object
Zip Code                           object
Institution Name                   object
Graduation Date                    object
Current Student Status             object
Current/Intended Major             object
Entry created at           datetime64[ns]
Status Description                 object
Status Code                       float64
Apply Date                         object
Opportunity Start Date             object
Reward Awarded Date                object
Completion Date                    object
Reward Amount                     float64
Badge Id                           object
Badge Name                         object
Skill Points Earned               float64
Skills Earned                      object
dtype: object

In [8]:
students.index

RangeIndex(start=0, stop=8558, step=1)

In [10]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Id               8558 non-null   object
 1   Learner SignUp DateTime  8558 non-null   object
 2   Opportunity Id           8558 non-null   object
 3   Opportunity Name         8558 non-null   object
 4   Opportunity Category     8558 non-null   object
 5   Opportunity End Date     8558 non-null   object
 6   First Name               8558 non-null   object
 7   Last Name                8558 non-null   object
 8   Date of Birth            8558 non-null   object
 9   Gender                   8558 non-null   object
 10  Mobile Number            8558 non-null   object
 11  Address Line 1           8555 non-null   object
 12  Address Line 2           3556 non-null   object
 13  City                     8558 non-null   object
 14  State                    8557 non-null   object
 15  Country                  8558 non-null   object
 16  Zip Code                 8558 non-null   object
 17  Institution Name         8554 non-null   object
 18  Graduation Date          8558 non-null   object
 19  Current Student Status   8558 non-null   object
 20  Current/Intended Major   8558 non-null   object
 21  Entry created at         8558 non-null   datetime64[ns]
 22  Status Description       8558 non-null   object
 23  Status Code              8558 non-null   float64
 24  Apply Date               8558 non-null   object
 25  Opportunity Start Date   4764 non-null   object
 26  Reward Awarded Date      29 non-null     object
 27  Completion Date          29 non-null     object
 28  Reward Amount            29 non-null     float64
 29  Badge Id                 29 non-null     object
 30  Badge Name               29 non-null     object
 31  Skill Points Earned      29 non-null     float64
 32  Skills Earned            29 non-null     object
dtypes: datetime64[ns](1), float64(3), object(29)
memory usage: 2.2+ MB

## Data Cleaning & Validation

In [12]:
# Dropping missing values from specifies columns 
students = students.dropna(subset=['Address Line 1', 'City', 'State', 'Zip Code', 'Institution Name', 'Current/Intended Major'])
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8551 entries, 0 to 8557
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Id               8551 non-null   object
 1   Learner SignUp DateTime  8551 non-null   object
 2   Opportunity Id           8551 non-null   object
 3   Opportunity Name         8551 non-null   object
 4   Opportunity Category     8551 non-null   object
 5   Opportunity End Date     8551 non-null   object
 6   First Name               8551 non-null   object
 7   Last Name                8551 non-null   object
 8   Date of Birth            8551 non-null   object
 9   Gender                   8551 non-null   object
 10  Mobile Number            8551 non-null   object
 11  Address Line 1           8551 non-null   object
 12  Address Line 2           3553 non-null   object
 13  City                     8551 non-null   object
 14  State                    8551 non-null   object
 15  Country                  8551 non-null   object
 16  Zip Code                 8551 non-null   object
 17  Institution Name         8551 non-null   object
 18  Graduation Date          8551 non-null   object
 19  Current Student Status   8551 non-null   object
 20  Current/Intended Major   8551 non-null   object
 21  Entry created at         8551 non-null   datetime64[ns]
 22  Status Description       8551 non-null   object
 23  Status Code              8551 non-null   float64
 24  Apply Date               8551 non-null   object
 25  Opportunity Start Date   4758 non-null   object
 26  Reward Awarded Date      29 non-null     object
 27  Completion Date          29 non-null     object
 28  Reward Amount            29 non-null     float64
 29  Badge Id                 29 non-null     object
 30  Badge Name               29 non-null     object
 31  Skill Points Earned      29 non-null     float64
 32  Skills Earned            29 non-null     object
dtypes: datetime64[ns](1), float64(3), object(29)
memory usage: 2.2+ MB

In [23]:
# Dropping column 'Address Line 2'
students = students.drop(columns='Address Line 2')
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8551 entries, 0 to 8557
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Id               8551 non-null   object
 1   Learner SignUp DateTime  8551 non-null   object
 2   Opportunity Id           8551 non-null   object
 3   Opportunity Name         8551 non-null   object
 4   Opportunity Category     8551 non-null   object
 5   Opportunity End Date     8551 non-null   object
 6   First Name               8551 non-null   object
 7   Last Name                8551 non-null   object
 8   Date of Birth            8551 non-null   object
 9   Gender                   8551 non-null   object
 10  Mobile Number            8551 non-null   object
 11  Address Line 1           8551 non-null   object
 12  City                     8551 non-null   object
 13  State                    8551 non-null   object
 14  Country                  8551 non-null   object
 15  Zip Code                 8551 non-null   object
 16  Institution Name         8551 non-null   object
 17  Graduation Date          8551 non-null   object
 18  Current Student Status   8551 non-null   object
 19  Current/Intended Major   8551 non-null   object
 20  Entry created at         8551 non-null   datetime64[ns]
 21  Status Description       8551 non-null   object
 22  Status Code              8551 non-null   float64
 23  Apply Date               8551 non-null   object
 24  Opportunity Start Date   4758 non-null   object
 25  Reward Awarded Date      29 non-null     object
 26  Completion Date          29 non-null     object
 27  Reward Amount            29 non-null     float64
 28  Badge Id                 29 non-null     object
 29  Badge Name               29 non-null     object
 30  Skill Points Earned      29 non-null     float64
 31  Skills Earned            29 non-null     object
dtypes: datetime64[ns](1), float64(3), object(28)
memory usage: 2.2+ MB

In [14]:
# Converting the column 'Zip Code' to numeric and dropping non-numeric rows on 'Zip Code' column
students['Zip Code'] = pd.to_numeric(students['Zip Code'], errors='coerce')
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8551 entries, 0 to 8557
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Id               8551 non-null   object
 1   Learner SignUp DateTime  8551 non-null   object
 2   Opportunity Id           8551 non-null   object
 3   Opportunity Name         8551 non-null   object
 4   Opportunity Category     8551 non-null   object
 5   Opportunity End Date     8551 non-null   object
 6   First Name               8551 non-null   object
 7   Last Name                8551 non-null   object
 8   Date of Birth            8551 non-null   object
 9   Gender                   8551 non-null   object
 10  Mobile Number            8551 non-null   object
 11  Address Line 1           8551 non-null   object
 12  Address Line 2           3553 non-null   object
 13  City                     8551 non-null   object
 14  State                    8551 non-null   object
 15  Country                  8551 non-null   object
 16  Zip Code                 8384 non-null   float64
 17  Institution Name         8551 non-null   object
 18  Graduation Date          8551 non-null   object
 19  Current Student Status   8551 non-null   object
 20  Current/Intended Major   8551 non-null   object
 21  Entry created at         8551 non-null   datetime64[ns]
 22  Status Description       8551 non-null   object
 23  Status Code              8551 non-null   float64
 24  Apply Date               8551 non-null   object
 25  Opportunity Start Date   4758 non-null   object
 26  Reward Awarded Date      29 non-null     object
 27  Completion Date          29 non-null     object
 28  Reward Amount            29 non-null     float64
 29  Badge Id                 29 non-null     object
 30  Badge Name               29 non-null     object
 31  Skill Points Earned      29 non-null     float64
 32  Skills Earned            29 non-null     object
dtypes: datetime64[ns](1), float64(4), object(28)
memory usage: 2.2+ MB

In [16]:
students = students.dropna(subset='Zip Code')

In [18]:
students.count()

Profile Id                 8384
Learner SignUp DateTime    8384
Opportunity Id             8384
Opportunity Name           8384
Opportunity Category       8384
Opportunity End Date       8384
First Name                 8384
Last Name                  8384
Date of Birth              8384
Gender                     8384
Mobile Number              8384
Address Line 1             8384
Address Line 2             3466
City                       8384
State                      8384
Country                    8384
Zip Code                   8384
Institution Name           8384
Graduation Date            8384
Current Student Status     8384
Current/Intended Major     8384
Entry created at           8384
Status Description         8384
Status Code                8384
Apply Date                 8384
Opportunity Start Date     4644
Reward Awarded Date          29
Completion Date              29
Reward Amount                29
Badge Id                     29
Badge Name                   29
Skill Points Earned          29
Skills Earned                29
dtype: int64

In [20]:
students.head()

,Profile Id,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Last Name,Date of Birth,Gender,...,Status Code,Apply Date,Opportunity Start Date,Reward Awarded Date,Completion Date,Reward Amount,Badge Id,Badge Name,Skill Points Earned,Skills Earned
0,004b8a25-17d4-4e9a-a41b-b5336327e170,06/14/2023 12:30:35,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Faria,Khan,2001-12-01 00:00:00,Female,...,1080.0,06/14/2023 12:36:09,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00628747-9775-4a85-a179-4d5007ccb8b7,2023-01-05 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,Bembadi,08/16/2000,Female,...,1080.0,2023-01-05 06:08:21,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00f5161c-ba85-472d-9b0a-3301aac78598,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,Anagurthi,1999-01-11 00:00:00,Female,...,1070.0,2023-09-10 22:02:42,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01273a5e-fcc5-4b1a-a637-19aff497dac1,2023-06-01 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,Pechetti,04/19/2000,Male,...,1080.0,2023-06-01 15:40:10,2022-03-11 18:30:39,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01568c20-b177-4eda-824c-5b5e29d6eb42,2024-02-03 19:16:07,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Mor,Samb,1996-12-05 00:00:00,Male,...,1040.0,2024-02-03 20:30:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
students['Zip Code'].head()

0       923.0
1    501106.0
3     63108.0
4     63108.0
5    360003.0
Name: Zip Code, dtype: float64

In [24]:
# Converting Zip Code to int
students['Zip Code'] = students['Zip Code'].astype(int)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:1196: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

In [26]:
# Verifying 'Zip Code' datatype
students['Zip Code'].dtype

dtype('int32')

In [28]:
# Removing columns with very few rows of data and oppurtunity id
students = students.drop(columns=['Reward Awarded Date', 'Completion Date', 'Reward Amount', 'Badge Id', 'Badge Name', 'Skill Points Earned', 'Skills Earned', 'Opportunity Id'])

In [30]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8384 entries, 0 to 8557
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Profile Id               8384 non-null   object
 1   Learner SignUp DateTime  8384 non-null   object
 2   Opportunity Name         8384 non-null   object
 3   Opportunity Category     8384 non-null   object
 4   Opportunity End Date     8384 non-null   object
 5   First Name               8384 non-null   object
 6   Last Name                8384 non-null   object
 7   Date of Birth            8384 non-null   object
 8   Gender                   8384 non-null   object
 9   Mobile Number            8384 non-null   object
 10  Address Line 1           8384 non-null   object
 11  Address Line 2           3466 non-null   object
 12  City                     8384 non-null   object
 13  State                    8384 non-null   object
 14  Country                  8384 non-null   object
 15  Zip Code                 8384 non-null   int32
 16  Institution Name         8384 non-null   object
 17  Graduation Date          8384 non-null   object
 18  Current Student Status   8384 non-null   object
 19  Current/Intended Major   8384 non-null   object
 20  Entry created at         8384 non-null   datetime64[ns]
 21  Status Description       8384 non-null   object
 22  Status Code              8384 non-null   float64
 23  Apply Date               8384 non-null   object
 24  Opportunity Start Date   4644 non-null   object
dtypes: datetime64[ns](1), float64(1), int32(1), object(22)
memory usage: 1.6+ MB

In [32]:
students.head()

,Profile Id,Learner SignUp DateTime,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Last Name,Date of Birth,Gender,Mobile Number,...,Zip Code,Institution Name,Graduation Date,Current Student Status,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,004b8a25-17d4-4e9a-a41b-b5336327e170,06/14/2023 12:30:35,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Faria,Khan,2001-12-01 00:00:00,Female,+923441950694',...,923,Nwihs,2023-11-01 00:00:00,Undergraduate Student,Radiology,2024-11-03 12:01:41,Started,1080.0,06/14/2023 12:36:09,2022-03-11 18:30:39
1,00628747-9775-4a85-a179-4d5007ccb8b7,2023-01-05 05:29:16,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,Bembadi,08/16/2000,Female,+919381442895',...,501106,SAINT LOUIS,2025-05-01 00:00:00,Graduate Program Student,Information Systems,2024-11-03 12:01:41,Started,1080.0,2023-01-05 06:08:21,2022-03-11 18:30:39
3,00f5161c-ba85-472d-9b0a-3301aac78598,08/29/2023 05:20:03,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,Anagurthi,1999-01-11 00:00:00,Female,+13143350542',...,63108,Saint Louis University,2025-05-01 00:00:00,Graduate Program Student,Information Systems,2024-11-03 12:01:41,Team Allocated,1070.0,2023-09-10 22:02:42,2022-03-11 18:30:39
4,01273a5e-fcc5-4b1a-a637-19aff497dac1,2023-06-01 15:26:36,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,Pechetti,04/19/2000,Male,+917032055646',...,63108,Saint Louis University,2024-12-01 00:00:00,Graduate Program Student,Computer Science,2024-11-03 12:01:41,Started,1080.0,2023-06-01 15:40:10,2022-03-11 18:30:39
5,01568c20-b177-4eda-824c-5b5e29d6eb42,2024-02-03 19:16:07,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Mor,Samb,1996-12-05 00:00:00,Male,+918155821077',...,360003,Saint Louis University,2028-05-01 00:00:00,Undergraduate Student,Mechanical Engineering,2024-11-03 12:01:41,Waitlisted,1040.0,2024-02-03 20:30:35,NaN

**Tasks done by Abdullah Imran start from here**

In [34]:
# Convert 'Date of Birth' to datetime64[ns] while keeping only the date
students['Date of Birth'] = pd.to_datetime(students['Date of Birth']).dt.normalize()

print(students['Date of Birth'].head())
print(students.dtypes)

0   2001-12-01
1   2000-08-16
3   1999-01-11
4   2000-04-19
5   1996-12-05
Name: Date of Birth, dtype: datetime64[ns]
Profile Id                         object
Learner SignUp DateTime            object
Opportunity Name                   object
Opportunity Category               object
Opportunity End Date               object
First Name                         object
Last Name                          object
Date of Birth              datetime64[ns]
Gender                             object
Mobile Number                      object
Address Line 1                     object
Address Line 2                     object
City                               object
State                              object
Country                            object
Zip Code                            int32
Institution Name                   object
Graduation Date                    object
Current Student Status             object
Current/Intended Major             object
Entry created at           datetime64[ns]
Status Description                 object
Status Code                       float64
Apply Date                         object
Opportunity Start Date             object
dtype: object

In [36]:
# Convert 'Graduation Date' to datetime while handling invalid dates
students['Graduation Date'] = pd.to_datetime(students['Graduation Date'], errors='coerce').dt.normalize()

# Check the result
print(students['Graduation Date'].head())

# Print rows where 'Graduation Date' could not be converted (NaT)
print(students[students['Graduation Date'].isna()])

0   2023-11-01
1   2025-05-01
3   2025-05-01
4   2024-12-01
5   2028-05-01
Name: Graduation Date, dtype: datetime64[ns]
                                Profile Id Learner SignUp DateTime  \
1760  8fd8b9b2-1c52-4781-a831-c0c30c1384c4     2024-07-01 22:34:14
2994  8fd8b9b2-1c52-4781-a831-c0c30c1384c4     2024-07-01 22:34:14
3675  8fd8b9b2-1c52-4781-a831-c0c30c1384c4     2024-07-01 22:34:14
4579  8fd8b9b2-1c52-4781-a831-c0c30c1384c4     2024-07-01 22:34:14

                   Opportunity Name Opportunity Category Opportunity End Date  \
1760              Digital Marketing           Internship  2024-11-03 18:00:00
2994  Innovation & Entrepreneurship           Internship  2024-11-03 18:00:00
3675             Project Management           Internship  2024-11-03 18:00:00
4579             Data Visualization           Internship  2024-11-03 18:00:00

     First Name Last Name Date of Birth Gender   Mobile Number  ... Zip Code  \
1760     Pranay     Reddy    1998-05-16   Male  +919481775377'  ...    63013
2994     Pranay     Reddy    1998-05-16   Male  +919481775377'  ...    63013
3675     Pranay     Reddy    1998-05-16   Male  +919481775377'  ...    63013
4579     Pranay     Reddy    1998-05-16   Male  +919481775377'  ...    63013

            Institution Name Graduation Date    Current Student Status  \
1760  Saint Louis University             NaT  Graduate Program Student
2994  Saint Louis University             NaT  Graduate Program Student
3675  Saint Louis University             NaT  Graduate Program Student
4579  Saint Louis University             NaT  Graduate Program Student

     Current/Intended Major    Entry created at Status Description  \
1760    Information Systems 2024-11-03 12:02:00           Rejected
2994    Information Systems 2024-11-03 12:02:13        Dropped Out
3675    Information Systems 2024-11-03 12:02:20           Rejected
4579    Information Systems 2024-11-03 12:02:31        Dropped Out

     Status Code           Apply Date Opportunity Start Date
1760      1030.0  2024-07-01 23:52:09                    NaN
2994      1050.0  2024-07-01 23:56:24    01/22/2024 24:00:00
3675      1030.0  2024-07-01 23:37:52                    NaN
4579      1050.0  2024-07-01 23:50:04    01/22/2024 24:00:00

[4 rows x 25 columns]

In [38]:
# Drop rows where 'Graduation Date' is NaN
students = students.dropna(subset=['Graduation Date'])

# Verify the result
print(students['Graduation Date'].isna().sum()) # Nice stuff

0

In [40]:
print(students['Graduation Date'].head())

0   2023-11-01
1   2025-05-01
3   2025-05-01
4   2024-12-01
5   2028-05-01
Name: Graduation Date, dtype: datetime64[ns]

In [42]:
# Convert the following columns to datetime64[ns] format
date_columns = ['Opportunity End Date', 'Apply Date', 'Opportunity Start Date']

for column in date_columns:
    students[column] = pd.to_datetime(students[column], errors='coerce')

# Verify the conversions
print(students[date_columns].dtypes)

Opportunity End Date      datetime64[ns]
Apply Date                datetime64[ns]
Opportunity Start Date    datetime64[ns]
dtype: object

In [44]:
# Check for any NaT values in the date columns
for column in date_columns:
    print(f"{column} NaT count:", students[column].isna().sum())

Opportunity End Date NaT count: 0
Apply Date NaT count: 197
Opportunity Start Date NaT count: 4370

Above tells us that there are a lot of people who have not started the Oppurtunity at all, so we might need to factor this in while using this data. Since there are way too many people that have not joined, we can't just simply remove the data of those people, and I guess can keep this data for future use.

In [46]:
students.dtypes

Profile Id                         object
Learner SignUp DateTime            object
Opportunity Name                   object
Opportunity Category               object
Opportunity End Date       datetime64[ns]
First Name                         object
Last Name                          object
Date of Birth              datetime64[ns]
Gender                             object
Mobile Number                      object
Address Line 1                     object
Address Line 2                     object
City                               object
State                              object
Country                            object
Zip Code                            int32
Institution Name                   object
Graduation Date            datetime64[ns]
Current Student Status             object
Current/Intended Major             object
Entry created at           datetime64[ns]
Status Description                 object
Status Code                       float64
Apply Date                 datetime64[ns]
Opportunity Start Date     datetime64[ns]
dtype: object

In [80]:
students['Opportunity Start Date'].head()

0   2022-03-11 18:30:39
1   2022-03-11 18:30:39
3   2022-03-11 18:30:39
4   2022-03-11 18:30:39
5                   NaT
Name: Opportunity Start Date, dtype: datetime64[ns]

In [48]:
# Drop rows where Zip Code is not a valid number (including zeros)
students = students[students['Zip Code'].apply(lambda x: str(x).isdigit() and int(x) > 0)]

In [50]:
# Drop all columns that are completely empty (have no values)
students.dropna(axis=1, how='all', inplace=True)

In [52]:
students.head()

,Profile Id,Learner SignUp DateTime,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Last Name,Date of Birth,Gender,Mobile Number,...,Zip Code,Institution Name,Graduation Date,Current Student Status,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,004b8a25-17d4-4e9a-a41b-b5336327e170,06/14/2023 12:30:35,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Faria,Khan,2001-12-01,Female,+923441950694',...,923,Nwihs,2023-11-01,Undergraduate Student,Radiology,2024-11-03 12:01:41,Started,1080.0,2023-06-14 12:36:09,2022-03-11 18:30:39
1,00628747-9775-4a85-a179-4d5007ccb8b7,2023-01-05 05:29:16,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Poojitha,Bembadi,2000-08-16,Female,+919381442895',...,501106,SAINT LOUIS,2025-05-01,Graduate Program Student,Information Systems,2024-11-03 12:01:41,Started,1080.0,2023-01-05 06:08:21,2022-03-11 18:30:39
3,00f5161c-ba85-472d-9b0a-3301aac78598,08/29/2023 05:20:03,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Amrutha Varshini,Anagurthi,1999-01-11,Female,+13143350542',...,63108,Saint Louis University,2025-05-01,Graduate Program Student,Information Systems,2024-11-03 12:01:41,Team Allocated,1070.0,2023-09-10 22:02:42,2022-03-11 18:30:39
4,01273a5e-fcc5-4b1a-a637-19aff497dac1,2023-06-01 15:26:36,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Vinay Varshith,Pechetti,2000-04-19,Male,+917032055646',...,63108,Saint Louis University,2024-12-01,Graduate Program Student,Computer Science,2024-11-03 12:01:41,Started,1080.0,2023-06-01 15:40:10,2022-03-11 18:30:39
5,01568c20-b177-4eda-824c-5b5e29d6eb42,2024-02-03 19:16:07,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Mor,Samb,1996-12-05,Male,+918155821077',...,360003,Saint Louis University,2028-05-01,Undergraduate Student,Mechanical Engineering,2024-11-03 12:01:41,Waitlisted,1040.0,2024-02-03 20:30:35,NaT

In [54]:
# Drop rows where First Name and Last Name contain characters other than alphabets
students = students[students['First Name'].apply(lambda x: str(x).isalpha())]
students = students[students['Last Name'].apply(lambda x: str(x).isalpha())]

In [56]:
# Remove single quotes from Mobile Number
students['Mobile Number'] = students['Mobile Number'].str.replace("'", "")

In [58]:
students['Mobile Number']

0         +923441950694
1         +919381442895
5         +918155821077
6         +919820278783
8         +919870953256
             ...
8550       +13142202127
8552      +917666298687
8553      +251991315588
8555    +23409131855898
8556       +13146577983
Name: Mobile Number, Length: 5647, dtype: object

In [60]:
students.drop(columns = ['Profile Id'])

,Learner SignUp DateTime,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Last Name,Date of Birth,Gender,Mobile Number,Address Line 1,...,Zip Code,Institution Name,Graduation Date,Current Student Status,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,06/14/2023 12:30:35,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Faria,Khan,2001-12-01,Female,+923441950694,Peshwar,...,923,Nwihs,2023-11-01,Undergraduate Student,Radiology,2024-11-03 12:01:41,Started,1080.0,2023-06-14 12:36:09,2022-03-11 18:30:39
1,2023-01-05 05:29:16,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Poojitha,Bembadi,2000-08-16,Female,+919381442895,H.no 18/4 sultanpur village,...,501106,SAINT LOUIS,2025-05-01,Graduate Program Student,Information Systems,2024-11-03 12:01:41,Started,1080.0,2023-01-05 06:08:21,2022-03-11 18:30:39
5,2024-02-03 19:16:07,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Mor,Samb,1996-12-05,Male,+918155821077,Rajkot Morbi Highway,...,360003,Saint Louis University,2028-05-01,Undergraduate Student,Mechanical Engineering,2024-11-03 12:01:41,Waitlisted,1040.0,2024-02-03 20:30:35,NaT
6,05/31/2023 07:11:04,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Fardeen,Shroff,2001-09-09,Male,+919820278783,E 701 702 Madhuban Chs Yari Road,...,400061,Illinois Institute of Technology,2025-12-01,Graduate Program Student,Computer Science and Engineering,2024-11-03 12:01:41,Withdraw,1110.0,2023-06-14 05:29:41,2022-03-11 18:30:39
8,03/20/2023 16:36:30,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,SIDDHARTH,RAJAWAT,2005-12-22,Male,+919870953256,Plot No. 125,...,250001,Ashoka Academy,2028-07-01,High School Student,Robotics and Automation Engineering,2024-11-03 12:01:41,Started,1080.0,2023-05-24 13:44:09,2022-03-11 18:30:39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8550,12/27/2023 23:52:13,Freelance Mastery workshop,Event,2024-08-03 11:30:00,Saikrishna,Vennam,1999-01-18,Male,+13142202127,2225 13 palestre drive,...,63146,Saint Louis university,2025-12-01,Graduate Program Student,Information Systems,2024-11-03 12:03:14,Team Allocated,1070.0,2024-08-03 07:25:42,2024-08-03 14:00:00
8552,2024-06-01 17:04:30,Freelance Mastery workshop,Event,2024-08-03 11:30:00,Kaustubh,Avhad,2003-06-07,Male,+917666298687,At Post Nashik,...,4222102,P. V. G Nashik,2025-07-01,Undergraduate Student,Artificial Intelligence and Data Science,2024-11-03 12:03:14,Team Allocated,1070.0,2024-12-02 03:01:56,2024-08-03 14:00:00
8553,2024-05-03 16:39:21,Freelance Mastery workshop,Event,2024-08-03 11:30:00,Selam,Endale,2006-10-14,Female,+251991315588,Dej Mekonnen street,...,1000,Lideta Catholic Cathedral School,2024-06-01,High School Student,Computer Science,2024-11-03 12:03:14,Team Allocated,1070.0,2024-05-03 17:10:41,2024-08-03 14:00:00
8555,02/29/2024 15:02:31,Freelance Mastery workshop,Event,2024-08-03 11:30:00,Abiola,Ibrahim,1999-03-16,Male,+23409131855898,12 lawal street oshogun alapere ketu Lagos,...,11004,Tai Solarin university of Education,2023-10-01,Graduate Program Student,Political Science,2024-11-03 12:03:14,Team Allocated,1070.0,2024-02-29 15:10:06,2024-08-03 14:00:00
8556,12/23/2023 03:53:12,Freelance Mastery workshop,Event,2024-08-03 11:30:00,venumadhavi,bogireddy,1997-05-06,Female,+13146577983,18s Kingshighway Blvd Mac properties 07U St....,...,63108,Saint Louis University,2024-12-01,Graduate Program Student,Information Systems,2024-11-03 12:03:14,Team Allocated,1070.0,2024-02-27 06:48:47,2024-08-03 14:00:00

In [74]:
print(students['Opportunity End Date'].isna().sum())

0

In [76]:
print(students['Opportunity Start Date'].isna().sum())

2901

In [78]:
print(students['Graduation Date'].isna().sum())

0

In [86]:
# 1. Count the number of NaN values in each column
empty_per_column = students.isna().sum()

# 2. Filter columns that have at least one NaN
columns_with_empty = empty_per_column[empty_per_column > 0]

# 3. Total number of NaN values across the entire dataframe
total_empty = students.isna().sum().sum()

print(f"Columns with empty entries:\n{columns_with_empty}")
print(f"Total number of empty entries: {total_empty}")

Columns with empty entries:
Address Line 2            3311
Apply Date                 135
Opportunity Start Date    2901
dtype: int64
Total number of empty entries: 6347

In [90]:
# Drop all rows with missing entries
students = students.dropna()

# Optionally, check the result
print(f"Original DataFrame shape: {students.shape}")
print(f"Cleaned DataFrame shape: {students.shape}")

Original DataFrame shape: (1125, 25)
Cleaned DataFrame shape: (1125, 25)

In [94]:
# Drop specific columns
students = students.drop(['Address Line 2'], axis=1)

# Optionally, check the result
print(f"DataFrame shape after dropping columns: {students.shape}")

DataFrame shape after dropping columns: (1125, 24)

In [98]:
# Drop specific columns
students = students.drop(['Profile Id'], axis=1)

# Optionally, check the result
print(f"DataFrame shape after dropping columns: {students.shape}")

DataFrame shape after dropping columns: (1125, 23)

In [100]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1125 entries, 1 to 8553
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  1125 non-null   object
 1   Opportunity Name         1125 non-null   object
 2   Opportunity Category     1125 non-null   object
 3   Opportunity End Date     1125 non-null   datetime64[ns]
 4   First Name               1125 non-null   object
 5   Last Name                1125 non-null   object
 6   Date of Birth            1125 non-null   datetime64[ns]
 7   Gender                   1125 non-null   object
 8   Mobile Number            1125 non-null   object
 9   Address Line 1           1125 non-null   object
 10  City                     1125 non-null   object
 11  State                    1125 non-null   object
 12  Country                  1125 non-null   object
 13  Zip Code                 1125 non-null   int32
 14  Institution Name         1125 non-null   object
 15  Graduation Date          1125 non-null   datetime64[ns]
 16  Current Student Status   1125 non-null   object
 17  Current/Intended Major   1125 non-null   object
 18  Entry created at         1125 non-null   datetime64[ns]
 19  Status Description       1125 non-null   object
 20  Status Code              1125 non-null   float64
 21  Apply Date               1125 non-null   datetime64[ns]
 22  Opportunity Start Date   1125 non-null   datetime64[ns]
dtypes: datetime64[ns](6), float64(1), int32(1), object(15)
memory usage: 206.5+ KB

At this point in time, data is cleaned and pretty much validated

## Feature Engineering

Following are the new features created as mentioned on the website: https://engage.4excelerate.org/mod/page/view.php?id=18891

### 1. Creating new features

#### 1.1: Age of Learner

In [102]:
from datetime import datetime
import pandas as pd

# Ensure 'Date of Birth' is in datetime format
students['Date of Birth'] = pd.to_datetime(students['Date of Birth'], errors='coerce')

# Calculate the age of learners
today = pd.Timestamp(datetime.today())

# Calculate the age, taking into account whether the birthday has occurred yet this year
students['Age of Learner'] = today.year - students['Date of Birth'].dt.year - (
    (today.month < students['Date of Birth'].dt.month) | 
    ((today.month == students['Date of Birth'].dt.month) & (today.day < students['Date of Birth'].dt.day))
)

# Display the first few rows to verify the age calculation
print(students[['Date of Birth', 'Age of Learner']].head())

   Date of Birth  Age of Learner
1     2000-08-16              24
6     2001-09-09              23
8     2005-12-22              18
9     1998-06-26              26
15    2004-12-04              19

New column added "Age of Learner"

#### 1.2: Engagement Duration

In [104]:
# Ensure 'Apply Date' and 'Opportunity Start Date' are in datetime format
students['Apply Date'] = pd.to_datetime(students['Apply Date'], errors='coerce')
students['Opportunity Start Date'] = pd.to_datetime(students['Opportunity Start Date'], errors='coerce')

# Calculate the engagement duration (difference in days between application and start date)
students['Engagement Duration'] = (students['Opportunity Start Date'] - students['Apply Date']).dt.days

# Display the first few rows to verify the calculation
print(students[['Apply Date', 'Opportunity Start Date', 'Engagement Duration']].head())

            Apply Date Opportunity Start Date  Engagement Duration
1  2023-01-05 06:08:21    2022-03-11 18:30:39                 -300
6  2023-06-14 05:29:41    2022-03-11 18:30:39                 -460
8  2023-05-24 13:44:09    2022-03-11 18:30:39                 -439
9  2023-12-17 02:58:44    2022-03-11 18:30:39                 -646
15 2023-02-04 18:18:51    2022-03-11 18:30:39                 -330

New column "Engagement Duration" added

### 2. Transforming Existing Features

#### 2.1: Normalization of Engagement Metrics:

Using MinMaxScaler for normalization:

X_scaled = (X - Xmin) / (Xmax - Xmin)

This rescales the values between 0 and 1

In [108]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the scaler
scaler = MinMaxScaler()

# Select the columns to normalize
columns_to_normalize = ['Age of Learner', 'Engagement Duration']

# Apply Min-Max Scaling
students[columns_to_normalize] = scaler.fit_transform(students[columns_to_normalize])

# Display the first few rows to check the normalization
print(students[['Age of Learner', 'Engagement Duration']].head())

    Age of Learner  Engagement Duration
1         0.263158             0.445083
6         0.236842             0.342912
8         0.105263             0.356322
9         0.315789             0.224138
15        0.131579             0.425926

#### 2.2: Encoding Categorical Data:

We are no longer gonna do this now in this step

# List of categorical columns to encode
categorical_columns = ['Gender', 'State', 'Country', 'Opportunity Category']

# Apply One-Hot Encoding
students_encoded = pd.get_dummies(students, columns=categorical_columns, drop_first=True)

# Display the first few rows of the transformed dataset
print(students_encoded.head())

### 3. Extracting Useful Components

#### 3.1: Date-Based Features:

In [110]:
# Ensure the 'Learner SignUp DateTime' is in datetime format
students['Learner SignUp DateTime'] = pd.to_datetime(students['Learner SignUp DateTime'], errors='coerce')

# Extract the month from the 'Learner SignUp DateTime'
students['SignUp Month'] = students['Learner SignUp DateTime'].dt.month

# Extract the year from the 'Learner SignUp DateTime'
students['SignUp Year'] = students['Learner SignUp DateTime'].dt.year

# Preview the new columns
print(students[['Learner SignUp DateTime', 'SignUp Month', 'SignUp Year']].head())

   Learner SignUp DateTime  SignUp Month  SignUp Year
1      2023-01-05 05:29:16           1.0       2023.0
6      2023-05-31 07:11:04           5.0       2023.0
8      2023-03-20 16:36:30           3.0       2023.0
9      2023-11-05 03:40:33          11.0       2023.0
15     2023-03-16 12:11:51           3.0       2023.0

#### 3.2: Opportunity Engagement:

In [112]:
# Ensure the 'Opportunity Start Date' and 'Opportunity End Date' are in datetime format
students['Opportunity Start Date'] = pd.to_datetime(students['Opportunity Start Date'], errors='coerce')
students['Opportunity End Date'] = pd.to_datetime(students['Opportunity End Date'], errors='coerce')

# Calculate the duration of each opportunity
students['Time in Opportunity'] = students['Opportunity End Date'] - students['Opportunity Start Date']

# Convert the duration to total days for easier interpretation
students['Time in Opportunity (Days)'] = students['Time in Opportunity'].dt.days

# Preview the new column
print(students[['Opportunity Start Date', 'Opportunity End Date', 'Time in Opportunity (Days)']].head())

   Opportunity Start Date Opportunity End Date  Time in Opportunity (Days)
1     2022-03-11 18:30:39  2024-06-29 18:52:39                         841
6     2022-03-11 18:30:39  2024-06-29 18:52:39                         841
8     2022-03-11 18:30:39  2024-06-29 18:52:39                         841
9     2022-03-11 18:30:39  2024-06-29 18:52:39                         841
15    2022-03-11 18:30:39  2024-06-29 18:52:39                         841

### 4. Combining Features

#### 4.1: Interaction Features:

In [114]:
students['Age of Learner'] = (pd.to_datetime('today') - pd.to_datetime(students['Date of Birth'], errors='coerce')).dt.days // 365

# Create an interaction feature
students['Age of Learner x Time in Opportunity'] = students['Age of Learner'] * students['Time in Opportunity (Days)']

# Preview the new interaction feature
print(students[['Age of Learner', 'Time in Opportunity (Days)', 'Age of Learner x Time in Opportunity']].head())

    Age of Learner  Time in Opportunity (Days)  \
1               24                         841
6               23                         841
8               18                         841
9               26                         841
15              19                         841

    Age of Learner x Time in Opportunity
1                                  20184
6                                  19343
8                                  15138
9                                  21866
15                                 15979

#### 4.2: Engagement Scores:

In [116]:
# Ensure 'Time in Opportunity' is in a numerical format (total days)
# If 'Time in Opportunity' is a timedelta, convert it to total days
students['Time in Opportunity'] = students['Time in Opportunity'].dt.total_seconds() / 86400  # Convert seconds to days

# Step 2: Calculate Engagement Score
students['Engagement Score'] = (
    students['Time in Opportunity'] * 0.4 +  # Weight for Time in Opportunity
    students['Age of Learner'] * 0.3          # Weight for Age
)

# Display the first few rows to verify
print(students[['Time in Opportunity', 'Age of Learner', 'Engagement Score']].head())

    Time in Opportunity  Age of Learner  Engagement Score
1            841.015278              24        343.606111
6            841.015278              23        343.306111
8            841.015278              18        341.806111
9            841.015278              26        344.206111
15           841.015278              19        342.106111

### 5. Temporal Analysis

#### 5.1: Seasonal Patterns:

In [118]:
# Step 1: Extract month and day of the week from 'Learner SignUp DateTime'
students['SignUp Month'] = students['Learner SignUp DateTime'].dt.month
students['SignUp Day of Week'] = students['Learner SignUp DateTime'].dt.day_name()

# Step 2: Analyze average engagement score by month
monthly_engagement = students.groupby('SignUp Month')['Engagement Score'].mean().reset_index()

# Display the monthly engagement trends
print("Average Engagement Score by Month:")
print(monthly_engagement)

# Step 3: Analyze average engagement score by day of the week
weekly_engagement = students.groupby('SignUp Day of Week')['Engagement Score'].mean().reset_index()

# Sort days of the week in the correct order
days_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
weekly_engagement['SignUp Day of Week'] = pd.Categorical(weekly_engagement['SignUp Day of Week'], categories=days_order, ordered=True)
weekly_engagement = weekly_engagement.sort_values('SignUp Day of Week')

# Display the weekly engagement trends
print("\nAverage Engagement Score by Day of the Week:")
print(weekly_engagement)

Average Engagement Score by Month:
    SignUp Month  Engagement Score
0            1.0        180.737884
1            2.0        127.807341
2            3.0        216.619093
3            4.0        170.019258
4            5.0        243.457998
5            6.0        225.077620
6            7.0        173.626427
7            8.0        128.132607
8            9.0        136.742063
9           10.0        180.037348
10          11.0        202.217854
11          12.0        109.864043

Average Engagement Score by Day of the Week:
  SignUp Day of Week  Engagement Score
1             Monday        187.421351
5            Tuesday        170.536250
6          Wednesday        183.976090
4           Thursday        172.205362
0             Friday        173.750877
2           Saturday        144.113418
3             Sunday        155.308394

### 6: miscellaneous (aka my own) feature engineering steps:

#### 6.1: Time Since Last Engagement:

In [120]:
students['Last Engagement Date'] = students['Opportunity Start Date'].shift()  # Assuming opportunities are sorted by date
students['Days Since Last Engagement'] = (students['Learner SignUp DateTime'] - students['Last Engagement Date']).dt.days
print(students[['Days Since Last Engagement']].head())

    Days Since Last Engagement
1                          NaN
6                        445.0
8                        373.0
9                        603.0
15                       369.0

#### 6.2: Target Variable Creation:

In [122]:
engagement_threshold = students['Engagement Score'].median()
students['High Engagement'] = (students['Engagement Score'] > engagement_threshold).astype(int)
print(students[['High Engagement']].head())

    High Engagement
1                 1
6                 1
8                 1
9                 1
15                1

In [124]:
# Save the modified DataFrame to a CSV file
students.to_csv('AI_internship_Week1.csv', index=False)

print("DataFrame saved to 'AI_internship_Week1.csv'")

DataFrame saved to 'AI_internship_Week1.csv'

In [126]:
students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1125 entries, 1 to 8553
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Learner SignUp DateTime               1113 non-null   datetime64[ns]
 1   Opportunity Name                      1125 non-null   object
 2   Opportunity Category                  1125 non-null   object
 3   Opportunity End Date                  1125 non-null   datetime64[ns]
 4   First Name                            1125 non-null   object
 5   Last Name                             1125 non-null   object
 6   Date of Birth                         1125 non-null   datetime64[ns]
 7   Gender                                1125 non-null   object
 8   Mobile Number                         1125 non-null   object
 9   Address Line 1                        1125 non-null   object
 10  City                                  1125 non-null   object
 11  State                                 1125 non-null   object
 12  Country                               1125 non-null   object
 13  Zip Code                              1125 non-null   int32
 14  Institution Name                      1125 non-null   object
 15  Graduation Date                       1125 non-null   datetime64[ns]
 16  Current Student Status                1125 non-null   object
 17  Current/Intended Major                1125 non-null   object
 18  Entry created at                      1125 non-null   datetime64[ns]
 19  Status Description                    1125 non-null   object
 20  Status Code                           1125 non-null   float64
 21  Apply Date                            1125 non-null   datetime64[ns]
 22  Opportunity Start Date                1125 non-null   datetime64[ns]
 23  Age of Learner                        1125 non-null   int64
 24  Engagement Duration                   1125 non-null   float64
 25  SignUp Month                          1113 non-null   float64
 26  SignUp Year                           1113 non-null   float64
 27  Time in Opportunity                   1125 non-null   float64
 28  Time in Opportunity (Days)            1125 non-null   int64
 29  Age of Learner x Time in Opportunity  1125 non-null   int64
 30  Engagement Score                      1125 non-null   float64
 31  SignUp Day of Week                    1113 non-null   object
 32  Last Engagement Date                  1124 non-null   datetime64[ns]
 33  Days Since Last Engagement            1112 non-null   float64
 34  High Engagement                       1125 non-null   int32
dtypes: datetime64[ns](8), float64(7), int32(2), int64(3), object(15)
memory usage: 307.6+ KB

In [128]:
students.head()

,Learner SignUp DateTime,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Last Name,Date of Birth,Gender,Mobile Number,Address Line 1,...,SignUp Month,SignUp Year,Time in Opportunity,Time in Opportunity (Days),Age of Learner x Time in Opportunity,Engagement Score,SignUp Day of Week,Last Engagement Date,Days Since Last Engagement,High Engagement
1,2023-01-05 05:29:16,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Poojitha,Bembadi,2000-08-16,Female,+919381442895,H.no 18/4 sultanpur village,...,1.0,2023.0,841.015278,841,20184,343.606111,Thursday,NaT,NaN,1
6,2023-05-31 07:11:04,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Fardeen,Shroff,2001-09-09,Male,+919820278783,E 701 702 Madhuban Chs Yari Road,...,5.0,2023.0,841.015278,841,19343,343.306111,Wednesday,2022-03-11 18:30:39,445.0,1
8,2023-03-20 16:36:30,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,SIDDHARTH,RAJAWAT,2005-12-22,Male,+919870953256,Plot No. 125,...,3.0,2023.0,841.015278,841,15138,341.806111,Monday,2022-03-11 18:30:39,373.0,1
9,2023-11-05 03:40:33,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Vanshika,Varshney,1998-06-26,Female,+919549824344,RK Puram ph 2 Block 11-A,...,11.0,2023.0,841.015278,841,21866,344.206111,Sunday,2022-03-11 18:30:39,603.0,1
15,2023-03-16 12:11:51,Career Essentials: Getting Started with Your P...,Course,2024-06-29 18:52:39,Harjot,Kaur,2004-12-04,Female,+917009510486,Bathinda,...,3.0,2023.0,841.015278,841,15979,342.106111,Thursday,2022-03-11 18:30:39,369.0,1

In [130]:
# 1. Count the number of NaN values in each column
empty_per_column = students.isna().sum()

# 2. Filter columns that have at least one NaN
columns_with_empty = empty_per_column[empty_per_column > 0]

# 3. Total number of NaN values across the entire dataframe
total_empty = students.isna().sum().sum()

print(f"Columns with empty entries:\n{columns_with_empty}")
print(f"Total number of empty entries: {total_empty}")

Columns with empty entries:
Learner SignUp DateTime       12
SignUp Month                  12
SignUp Year                   12
SignUp Day of Week            12
Last Engagement Date           1
Days Since Last Engagement    13
dtype: int64
Total number of empty entries: 62

In [132]:
# Drop all rows with missing entries
students = students.dropna()

# Optionally, check the result
print(f"Original DataFrame shape: {students.shape}")
print(f"Cleaned DataFrame shape: {students.shape}")

Original DataFrame shape: (1112, 35)
Cleaned DataFrame shape: (1112, 35)

In [134]:
# 1. Count the number of NaN values in each column
empty_per_column = students.isna().sum()

# 2. Filter columns that have at least one NaN
columns_with_empty = empty_per_column[empty_per_column > 0]

# 3. Total number of NaN values across the entire dataframe
total_empty = students.isna().sum().sum()

print(f"Columns with empty entries:\n{columns_with_empty}")
print(f"Total number of empty entries: {total_empty}")

Columns with empty entries:
Series([], dtype: int64)
Total number of empty entries: 0

Dataset now has 0 missing values, and is cleaned properly.

In [137]:
# Save the modified DataFrame to a CSV file
students.to_csv('AI_internship_Week1.csv', index=False)

print("DataFrame saved to 'AI_internship_Week1.csv'")

DataFrame saved to 'AI_internship_Week1.csv'